<% provide(:title, "スケジュール更新") %>
<% provide(:button_text, "更新") %>

<div class="container">
  <h3>スケジュール更新</h3>
  <%= render "schedule_form" %>

  <%= link_to "一覧へ", "index", class: "btn btn-primary" %>
</div>