<% provide(:title, "スケジュール登録") %>
<% provide(:button_text, "作成") %>

<div class="container">
  <h3>スケジュール登録</h3>
  <%= render "schedule_form" %>

  <%= link_to "一覧へ", "index", class: "btn btn-primary" %>
</div>