<header>
    <ul class="nav justify-content-end">
        <li class="nav-item navbar-text">今日は<%= Time.now.strftime("%Y年%m月%d日") %></li>
        <li class="nav-item"><%= link_to "一覧", "/index", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "新規登録", "/new", class: "nav-link" %></li>
    </ul>  
</header>