<header>
    <ul class="nav justify-content-end">
        <li class="nav-item"><%= link_to "一覧", "/index", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "登録", "/new", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "edit", "/edit", class: "nav-link" %></li>
    </ul>  
</header>